.profileStats {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  list-style-type: none;
  font-family: var(--font-family);
  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    div {
      color: gray;
    }
  }
}
