.headerBanner {
  background-color: var(--banner-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.text {
  color: gray;
  font-size: 1rem;
  font-family: var(--font-family);
  margin: 5px;
}

.avatar {
  width: 148;
  height: 148;
  border-radius: 74px;
  border: 2px solid white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.name {
  font-size: 1.5rem;
  color: white;
  font-family: var(--font-family);
}
