.reposList {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    li {
      border: 1px solid gray;
      margin: 5px;
      border-radius: 10px;
      padding: 10px;
      h2 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      div:first-of-type {
        padding-bottom: 10px;
        color: gray;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
